body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

.board {
  margin-top: 2rem;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 24px;
  color: red;
}

.square {
  background: #fff;
  float: left;
  border: none;
  font-size: 36px;
  font-weight: bold;
  height: 100px;
  width: 100px;
  text-align: center;
  padding: 0;
}

.heading {
  font-size: 52px;
  font-weight: bold;
  color: teal;
}

.buttonStyle {
  background-color: transparent;
  border: 1px solid teal;
  padding: 10px 30px;
  font-size: 18px;
  color: teal;
}

.buttonStyle:hover {
  background-color: teal;
  color: #fff;
}
.border0 {
  border-bottom: 5px solid teal;
  border-right: 5px solid teal;
}
.border1 {
  border-bottom: 5px solid teal;
}
.border2 {
  border-bottom: 5px solid teal;
  border-left: 5px solid teal;
}
.border3 {
  border-bottom: 5px solid teal;
  border-right: 5px solid teal;
}
.border4 {
  border-bottom: 5px solid teal;
}
.border5 {
  border-left: 5px solid teal;
  border-bottom: 5px solid teal;
}
.border6 {
  border-right: 5px solid teal;
}
.border8 {
  border-left: 5px solid teal;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.marginTop {
  margin-top: 5%;
}
.marginLeft {
  margin-left: 1rem;
}
.buttons {
  flex-direction: row;
  margin-top: 2rem;
}
